body {
    background-image: url("../images/space.png");
    background-attachment: fixed;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
    color: white;
}

h2 {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    margin: 0px 0px;
}

#github {
    margin-left: 410px;
}

.aboutMe {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 892px;
    border: 1px solid #e6ecf0;
    background-color: white;
}

.boardDiv {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    width: 892px;
}

img {
    margin: 8px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0);
}


img:hover {
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

.navigationBarLinks {
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.navigationBarLinks:hover {
    text-decoration: underline;
}

li {
    display: inline;   
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.navigationBar {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    width: 450px;
}

p {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 16px;
    line-height: 1.8;
}